@import url(https://fonts.googleapis.com/css?family=Lato:300;400;700,900|Josefin+Slab:400,400italic,700);

html,
body {
	width: 100%;
	height: 100%;
	font-size: 1em;
	color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
}

h1 {
	font-size: 2.25em;
	line-height: 1.15;
}

h2 {
	font-weight: 400;
	font-size: 1.75em;
	line-height: 1.25;
	color: #999;
}

p {
	font-family: 'Josefin Slab', serif;
	font-weight: 400;
	margin: 30px 0 0 0;
	font-size: 1.5em;
	line-height: 1.6;
	letter-spacing: -0.025em;
}

a {
	color: #2ecc71;
	text-decoration: none;
	border-bottom: 1px solid #27ae60;
	transition: color .25s ease-in-out;
}

a:hover {
	color: #27ae60;
}

aside {
	position: relative;
	width: 700px;
	margin: 0 auto;
	padding: 60px 0 0 0;
}

main {
	display: block;
	width: 100%;
	height: 100%;
	background: #EEE;
	font-size: .75em;
}

main {
	cursor: default;
}

main .is-visible,
main .is-visible text {
	cursor: pointer;
}

main .link,
main .label {
	stroke: #333;
}

main .label { margin-bottom: 1em; }

main text {
	font-family: 'Lato', sans-serif;
	fill: #FFF;
}

main text.bold {
	font-weight: bold;
}

.scroll {
	position: absolute;
	width: 100%;
	bottom: 0;
	text-align: center;
	pointer-events: none;
}

.scroll a {
	color: #333;
	border-bottom: none;
	display: inline-block;
	font-family: 'Josefin Slab', sans-serif;
	font-weight: 400;
	font-size: 1.5em;
	pointer-events: all;
}

footer {
	display: block;
	position: relative;
	margin-top: 120px;
	background: #ECECEC;
	color: #666;
	text-align: center;
	padding: 30px 0;
}

footer p {
	line-height: 1;
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-size: 1.125em;
}

.controls {
	background: #FFF;
	padding: 12px 0;
	font-family: 'Lato', sans-serif;
	pointer-events: all;
	border-bottom: 2px solid #eee;
}

.controls label { margin: 0 12px; }