.graph .link {
	z-index: 10;
	stroke: #333;
}

.graph .attribute,
.graph .frequency {
	z-index: 20;
}

.graph {
	cursor: default;
}

.graph circle,
.graph rect {
	cursor: grab;
}

.nodetext {
	fill: #333;
}