.graph .link {
	z-index: 10;
}

.graph .attribute,
.graph .frequency {
	z-index: 20;
}

.graph {
	cursor: default;
}

.graph circle,
.graph rect {
	cursor: grab;
}


.controls label,
.controls label strong,
.controls label span.block {
	display: block;
}

.controls label { margin-bottom: 1em; }