.graph .hidden-link {
	z-index: 10;
	stroke: lime;
}

.graph .attribute,
.graph .frequency {
	z-index: 20;
}

.graph {
	cursor: default;
}

.graph circle,
.graph rect {
	cursor: grab;
}

.graph .label {
	fill: #333;
}

.controls label,
.controls label strong,
.controls label span {
	display: block;
}