.graph .hidden-link {

}

.graph .link {
	z-index: 10;
	stroke: #333;
}

.graph .attribute,
.graph .frequency {
	z-index: 20;
}

.graph {
	cursor: default;
}

.graph circle,
.graph rect {
	cursor: grab;
}

.graph .label {
	fill: #333;
}

.controls label,
.controls label strong,
.controls label span {
	display: block;
}

.controls label { margin-bottom: 1em; }